* {
    -pri-color: rgb(143, 186, 255);
    -pri-color-highlight: rgb(163, 206, 255);
    -pri-color-shadow: rgb(123, 166, 235);
    -sec-color: rgb(50, 50, 50);
    -bg-color: rgb(250, 250, 250);
}

#window {
    -fx-background-color:-bg-color;
}

.button {
    -fx-background-color:-pri-color;
}
.button:hover {
    -fx-background-color:-pri-color-highlight;
}

.button:pressed {
    -fx-background-color:-pri-color-shadow;
}

.delete {
    -fx-background-color: #e03939;
}
.delete:hover {
    -fx-background-color:#e05050;
}

.delete:pressed {
    -fx-background-color:#e02020;
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

#scroll {
    -fx-border-color: -sec-color;
    -fx-background-color:#FFFFFF;
}

#scrollRight {
    -fx-border-color: -sec-color;
    -fx-background-color:#FFFFFF;
}

.scroll-bar:vertical {
    color: #FFFFFF;
    -fx-background-color:#FFFFFF;
}

.scroll-bar:vertical .thumb {
    -fx-background-color:#F0F0F0;
}

.scroll-bar:horizontal {
    -fx-background-color: null;
}
#shoppingList {
    -fx-insets:20;
    -fx-background-color:#FFFFFF;
}

.check-box {

    -fx-background-color: #F0F0F0;

}

#shoppingTitle {
    -fx-font-size: 20px;
    -fx-text-fill: -sec-color;
}

#listTitleList {
    -fx-background-color: #FFFFFF;
}

.listTitleListElement {
    -fx-alignment: center;
    -fx-padding:10px;
    -fx-background-radius:20px;
    -fx-background-insets:5px;
    -fx-background-color: #F0F0F0;
}

#loginNameLabel {
    -fx-alignment: center;
    -fx-border-color: #CCCCCC;
    -fx-background-color: #FFFFFF;
}

.table-view .column-header,
.table-view .column-header-background .filler {
    -fx-background-color:  white;
}